* {
    border:        none;
    border-radius: 0;
    font-family:   "Hack Pro Nerd Font";
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window#waybar {
    color: rgba(207, 207, 207, 1);
    background-color: rgba(3, 7, 10, 0.7);
    border-bottom: 1px solid rgba(195, 197, 201, 0.35)
}

window#waybar.solo {
    color: rgba(78, 85, 91, 1);
}

#workspaces {
    /* margin: 0 5px; */
    margin: 0;
}

#custom-sep {
  color: #6E6E6E;
}

#custom-scratchpad {
    margin: 0px	5px;
    padding: 0px 5px;
}

#workspaces button {
    padding: 0 5px;
    color: rgba(120, 120, 120, 1);
}
#workspaces button:hover {
    background: rgba(191, 191, 191, 0.15);
    color: rgba(184, 184, 184, 1);
}

#workspaces button.focused {
    background: rgba(193, 193, 193, 0.25);
    color: rgba(217, 216, 216, 1);
}
#workspaces button.focused:hover {
    background: rgba(193, 193, 193, 0.25);
}

#workspaces button.visible {
    /* color: rgba(90, 209, 225, 1); */
    color: #EDEDED;
}
#workspaces button.visible:hover {
    color: white;
}

#workspaces button.urgent {
    color: rgba(235, 51, 51, 1);
}

#mode, 
#battery, 
#cpu, 
#memory, 
#network, 
#pulseaudio, 
#idle_inhibitor, 
#temperature,
#custom-layout,
#backlight {
    margin: 0px 6px 0px 10px;
/*    min-width: 30px;*/
}

#clock {
    margin: 0px 6px 0px 10px;
}

#battery.warning {
   color: rgba(237, 213, 100, 1);
}

#battery.critical {
    color: rgba(239, 81, 72, 1);
}

#battery.charging {
    color: rgba(129, 240, 90, 1);
}

