/* https://cloudninja.pw/docs/wofi.html */
window {
    border: 2px solid black;
    /* background-color: rgba(23, 63, 79, 0.8); */ 
    /* background-color: rgba(12, 11, 25, 0.65); */
    background-color: rgba(10, 14, 20, 0.85)
    /* background-color: #0A0E14; */
}

#input {
    /* color: rgba(115, 186, 37, 1); */
    color: rgba(185, 185, 185, 1);
    border: 2px solid #171717;
    /* background-color: rgba(53, 185, 171, 0.3); */
    background-color: rgba(217, 216, 216, 0.10);
    /* background-color: #0A0E14; */
    font-size: 18px;
}


#outer-box {
    margin: 10px;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    /* color: #35b9ab; */
    color: rgba(185, 185, 185, 1);
}

#scroll label {
    margin: 2px 0px;
}

#entry:selected {
    color: rgba(115, 186, 37, 1);
    /* background-color: rgba(53, 185, 171, 0.3); */
    background-color: rgba(217, 216, 216, 0.3);
    /* background-color: #0A0E14; */
}
